@import "bourbon";

@import "node_modules/normalize.css/normalize";


@import "variables";

@import "mixins";

@import "components";

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: $helvetica;
	font-size: $base-font-size;
	margin: 0;
}