$lf-btn-padding: $base-measure * 2 $base-measure * 3.5 !default;
$lf-btn-border: $base-border !default;
$lf-btn-border-radius: $base-border-radius !default;

// Skin

$lf-btn-primary-border-color: $brand-primary !default;
$lf-btn-primary-bg: $brand-primary !default;
$lf-btn-primary-color: $brand-light !default;

$lf-btn-secondary-border-color: $brand-secondary !default;
$lf-btn-secondary-bg: $brand-secondary !default;
$lf-btn-secondary-color: $brand-light !default;

$lf-btn-link-border-color: transparent !default;
$lf-btn-link-bg: transparent !default;
$lf-btn-link-color: $brand-dark !default;