$brand-primary: #4191D7 !default;
$brand-secondary: #546D7D !default;

$brand-success: #5F9C41 !default;
$brand-info: #6987BE !default;
$brand-warning: #E36A00 !default;
$brand-danger: #CC6677 !default;

$brand-light: #FFF !default;
$brand-dark: $brand-secondary !default;

$brand-inverse: #30313F !default;