$lf-sidebar-padding: !default;
$lf-sidebar-border: $base-border !default;
$lf-sidebar-border-radius: $base-border-radius !default;

// Skin

$lf-sidebar-default-bg: $brand-inverse !default;
$lf-sidebar-default-color: $brand-light !default;